@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    background: #bac5dd;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    min-width: 600px;
    margin: 0 auto;
}

header {
    display: grid;
    align-content: center;
    justify-content: center;
    background: url("../img/picture1.jpg") center center no-repeat;
    background-size: cover;
    height: 500px;
}

header > h1 {
    position: relative;
    top: 1em;
    left: 1em;
    font-size: 4rem;
    color: #fff;
}

nav {
    position: sticky;
    top: 0;
    background: #5473b4;
    height: 3em;
}

nav > ul {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

nav > ul > li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
}

nav a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

nav > ul > li:hover > a {
    text-decoration: underline solid 1px #fff;
    text-underline-offset: 4px;
}

main {
    background: lightgrey;
}

article {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
}

article img {
    width: 100%;
}

article .content {
    padding: 10px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    height: 150px;
}